@import "../../scss/variables";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  background-color: $color-blue;

  &__title {
    font-size: 30px;
    font-weight: 600;
    text-shadow: $color-text-shadow;
    color: $color-text-white;
  }
  &__list {
    display: flex;
    color: $color-text-white;
    gap: 20px;
    font-size: 18px;
  }
  &__item {
    &:hover {
        cursor: pointer;
        text-shadow: $color-text-shadow;
        transition: 0.2s;
      }
  }
  @media(max-width: 621px) {
    justify-content: center;
    gap: 10px;
    &__title{
      font-size: 23px;
    }
  }
}
