$bg-color: #ede4d4;

$color-dark-green: #00966b;
$color-light-green: #01cd42;
$color-text-white: #f9f2ec;
$color-red: #fa0525;
$color-black: #1f212c;
$color-purple: #a000a0;

$color-pink: #ea52f8;
$color-blue: #041b3f;
$color-light-blue: #5092fd;

$color-text-shadow: 0 0 15px $color-light-blue, 0 0 10px $color-light-blue;
$color-border-shadow: 0 0 15px $color-blue, 0 0 10px $color-blue;